.container-adl{
  position: relative;
  width: 100%;
}
.menus{
  float: left;
  position: relative;
  width: 180px;
}
.content-principal{
  float: left;
  width: 80%;
  position: absolute;
  left: 20%;
}


