<div class="clearfix">
  <div class="row home-body">
    <div class="col-sm-12">
      <span class="title-button">Mostrar otros productos </span>
      <span class="title-button-interno">
        <mat-slide-toggle color="primary" (change)="getOtherBanks()"></mat-slide-toggle>
      </span>
    </div>
  </div>
  <div class="main-content">
    <div class="border">
      <div class="row">
        <div class="col-sm-6">
          <div class="text-body align-text-banner">
            <h5>¿ Como se ven tus Finanzas ?</h5>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="carrusel">
            <app-carrusel></app-carrusel>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let value of accounts; let i = index" class="flex-sm-grow-0">
        <div class="col-sm-12">
          <!--<div class="container">-->

          <div *ngIf="haveViewCard(value, viewcard) || selectProduct" class="col-form-label">
            <strong>{{ value[0].typeAccount | translate }} ({{value.length}})</strong>
          </div>

          <span *ngFor="let card of value">
            <div *ngIf="card.accountInformation.bank == viewcard || selectProduct" class="card card-account">
              <span *ngIf="isTypeAcount(card.typeAccount, 0)">
                <app-card-cdt [card]="card"></app-card-cdt>
              </span>
              <span *ngIf="isTypeAcount(card.typeAccount, 1)">
                <app-card-credit (btnDetails)="openModal($event)" [card]="card"></app-card-credit>
              </span>
              <span *ngIf="isTypeAcount(card.typeAccount, 2)">
                <app-card-credit-card (btnDetails)="openModal($event)" [card]="card"></app-card-credit-card>
              </span>
              <span *ngIf="isTypeAcount(card.typeAccount, 3)">
                <app-card-current-account (btnDetails)="openModal($event)" [card]="card"></app-card-current-account>
              </span>
              <span *ngIf="isTypeAcount(card.typeAccount, 4)">
                <app-card-deposit-account (btnDetails)="openModal($event)" [card]="card"></app-card-deposit-account>
              </span>

            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <app-modal (btnModal)="closeModal($event)" [modalActive]="activeModal"></app-modal>
</div>
