<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="slide">
   1111111111
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      2222222222222
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      3333333333333
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      4444444444444444444
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      555555555555555555
    </div>
  </ng-template>
</owl-carousel-o>
