<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="slide">
      <div class="row">
        <div class="col-sm-6 small font-weight-bold">En productos<br> de ahorro tienes :</div>
        <div class="col-sm-6 text-center"><h4>$2.351.000.00</h4></div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <div class="row">
        <div class="col-sm-6 small font-weight-bold">En productos<br> de ahorro tienes :</div>
        <div class="col-sm-6 text-center"><h4>$2.351.000.00</h4></div>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <div class="row">
        <div class="col-sm-6 small font-weight-bold">En productos<br> de ahorro tienes :</div>
        <div class="col-sm-6 text-center"><h4>$2.351.000.00</h4></div>
      </div>
    </div>
  </ng-template>
</owl-carousel-o>
