<div class="row">
  <div class="col-md-12">
    <div class="row border-top border-bottom blockquote-footer footer">
      <div class="col-md-3"></div>
      <div class="col-md-6 text-center align-text-bottom">
        <br>
        <h4>¿ NO encuentra lo que estás buscando ?</h4>
        <br>
        <p>
          Seguimos trabajando para tener todo lo que necesitas en esta nueva experiencia.
          Mientras tanto, puedes buscar lo que no encuentres en la version anterior.
        </p>
        <button type="button" class="btn btn-primary">IR A LA VENTANA ANTERIOR</button>
      </div>
    </div>
    <div class="row row-footer">
      <div class="col-md-12 text-center align-text-bottom blockquote-footer">
        <br>
        <h4>¿ Quieres Otro Producto ?</h4>
        <h4>Adquiérelo aquí.</h4>
        <br>
        <div class="row row-footer-interno">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <app-other-product></app-other-product>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row finish-bar">
  <div class="col-md-12 text-center text-bar font-weight-bold">
    © Banco
  </div>
</div>
